@use '../index.scss' as app;

// .shared-layout {
//   img {
//     position: absolute;
//     width: 100%;
//   }
// }


.navbar {
  height: 6em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #555;
  // box-shadow: 9px 4px 9px -6px rgba(70, 66, 66, 0.78);
  // @include app.boxshadow();
  background: #fafafb;
  position: fixed;
  width: 100%;
  font-size: 15px;
  z-index: 3;


  .display {
    width: 100%;
    margin: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    
    .middle {
      display: flex;
      align-items: center;
      gap: 30px;
    }
    .nav-link {
      color: #555;
      text-decoration: none;
      list-style: none;
      font-weight: bold;
      border: 2px solid black;
      border-top: none;
      border-right: none;
      border-left: none;
    }

    .home-title {
      border: none;
      font-size: 24px;
      font-weight: 700;
    }

    .remove-border {
      border: none;
    }

    .left {
      font-size: 20px;
      cursor: pointer;
    }
    
    .left, .right {
      color: #555;
    }
    .div, ul {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .right {
      display: flex;
      gap: 20px;
      p{
        font-weight: bold;
      }
      .cart-div{
        position: relative;
        font-size: 20px;
        p {
          font-size: 14px;
          position: absolute;
          bottom: 50%;
          left: 60%;
          background-color: red;
          border-radius: 100%;
          padding: 2px 8px;
        }
      }
    }
  }
}


.hide {
  transform: translateX(-1000%);
  opacity: 0;
}

.show {
  transform: translateX(0%);
  opacity: 1;
}

.side-nav {
  height: 100vh;
  width: 30%;
  position: fixed;
  background-color: black;
  z-index: 3;
  color: white;
  @include app.boxshadow;
  transition: all 1s ease-in-out;



  .head {
    padding: 20px 20px 0px 0px;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    cursor: pointer;
  }
  
  .content-div{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    padding: 0 50px 50px 50px;
    .top {
      display: flex;
      flex-direction: column;
      gap: 15px;
      align-items: center;
      justify-content: center;

      h2 {
        color: white;
        font-weight: bold;
      }

      p {
        text-align: center;
      }
    }

    .middle {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
      gap: 10px;
      img {
        width: 100%;
        &:hover {
          background-color: black;
        }
      }
    }

    .bottom {
      display: flex;
      flex-direction: column;
      gap: 15px;
      text-align: center;
    }

    .links {
      font-size: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
  }
}
